{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<main>
    <section class='mx-4 row'>
    Acceuil
    </section>
    <ul>
    {% for book in books %}
        <li><a href='{{path('details',{"id":book.id})}}'>{{book.title}}</a></li>
        {% if  book.emprunts|length == 0 %}
<li> disponible </li>
{% endif %}
{% for emprunt in book.emprunts %}
{% if emprunt.dateRetour == null %}
<li> indisponible </li>
{% else %}
    <li> disponible </li>

{% endif %}
{% endfor %}
{% endfor %}
    </ul>
</main>
{% endblock %}
