{% extends 'base.html.twig' %}
{% block title %}Nouvel emprunteur{% endblock %}
{% block body %}
    <h1>Créé un nouvel emprunteur</h1>

    {{ include('admin_emprunteur/_form.html.twig') }}

    <a href="{{ path('app_admin_emprunteur') }}">back to list</a>
{% endblock %}