<form class='btn'method="post" action="{{ path('app_admin_emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this item is return?');">
    <input type="hidden" name="_token" value="{{ csrf_token('retour' ~ emprunt.id) }}">
    <button class="btn btn-primary">Déclaré comme retourné</button>
</form>
